{% extends "base.html" %}

{% block banner %}
{% endblock %}

{% block content %}
    {% if not request.user.is_authenticated %}
    <div class="row">
        <div  class="col s12">
            <h2 class="center header text_h2">Welcome to Soundbooth</h2>
        </div>

        <div  class="col s12 ">
            <h3 class="center header text_h2">To get started recording audio, login, or create a new user account.</h3>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block secondary_content %}
{% endblock %}
