{% extends "base.html" %}
{% load static %}
{% block content %}
<h2>Your recordings</h2>
{% if not object_list %}
<p>You do not have any recordings at the moment</p>
{% else %}
{% regroup object_list by schedule as schedule_list %}
{% for schedule in schedule_list %}
<h3>Recording {{schedule.grouper.get_display_crontab}}</h3>
<table class="table">
<tr>
    <td>created</td>
    <td>in_progress</td>
    <td>duration</td>
    <td>s3_path</td>
</tr>
{% for object in schedule.list %}
<tr>
    <td><a href="{{object.get_absolute_url}}">{{object.created|date:"M d Y P"}}</a></td>
    <td>{{ object.in_progress }}</td>
    <td>{{ object.duration }} minutes</td>
    <td>{{ object.s3_path }}</td>
</tr>
{% endfor %}
</table>
{% endfor %}
{% endif %}
<a class="btn btn-primary" href="{% url 'booth:schedules-create' %}">Create new Schedule</a>
<a class="btn btn-default" href="{% url 'booth:schedules-list' %}">View scheduled recordings</a>
{% endblock %}
