{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'booth:recordings-list' %}">Home</a></p>
<table class="table">
<tr>
    <td>Schedule</td>
    <td>duration</td>
    <td>date</td>
    <td>uid</td>
    <td>created</td>
    <td>recordings</td>
</tr>
{% for object in object_list %}
<tr>
    <td><a href="{{object.get_absolute_url}}">{{object.get_display_crontab}}</a></td>
    <td>{{ object.duration}} minutes</td>
    <td>{{ object.date}}</td>
    <td>{{ object.uid }}</td>
    <td>{{ object.created }}</td>
    <td>{{ object.recording_set.all|length }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'booth:schedules-create' %}">Create new Schedule</a>
{% endblock %}
